<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>Create a new dog</h2>
<form action='/dogs' method='post'>
    Name: <input type='text' name='name'><br><br>
    Breed: <input type='text' name='breed'><br><br>
    Color: <input type='text' name='color'><br><br>
    <button type='submit' name='add'>Add dog!</button>
</form>

</body>
</html>